.header {
    background: #fff;
    height: 44px;
    background: #0092d8;
    position: relative;
    z-index: 50;
    .inner {
        width: 100%;
        overflow: hidden;
        *zoom: 1;
        margin: 0 auto;
        position: relative;
    }
    .site_logo {
        float: left;
        width: 120px;
        height: 44px;
        background-image: url(../images/index_service_sprite_v3.png);
        background-size: 200px 80px;
        background-position: -80px 0;
    }
    .nav_wrap {
        float: left;
    }
    .nav .item {
        float: left;
        & a:hover {
            color: white !important;
        }
    }
    .nav .item_tit {
        display: block;
        padding: 0 30px;
        font-family: \5FAE\8F6F\96C5\9ED1;
        height: 44px;
        line-height: 44px;
        color: #a3c3e6;
        font-size: 12px;
    }
    .opt_wrap {
        position: absolute;
        top: 0;
        right: 0;
        *right: auto;
        *float: right;
        *position: static;
        .opt_search {
            width: 45px;
        }
        .opt {
            float: left;
            position: relative;
            background: #fff;
            padding: 0;
            width: 75px;
            background: none;
            height: 44px;
            cursor: pointer;
        }
        .search_wrap {
            position: absolute;
            top: 0;
            right: 0;
            background: #fff;
            width: 75px;
            background: none;
            height: 44px;
            -webkit-transition: width .5s;
            -moz-transition: width .5s;
            -ms-transition: width .5s;
            -o-transition: width .5s;
            transition: width .5s;
            -webkit-user-select: none;
            form {
                display: none;
            }
            input {
                display: block;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                -ms-border-radius: 12px;
                font-family: \5b8b\4f53;
                width: 100%;
                height: 44px;
                height: 43px\9;
                *position: relative;
                *top: -1px;
                line-height: 44px;
                padding: 0 10px 0 35px;
                border: 0 none;
                border-bottom: 1px solid #e0e0e0;
                border-radius: 0;
            }
            .icon_opt {
                margin: 0;
                position: absolute;
                right: 30px;
                cursor: pointer;
            }
        }
        .icon_search {
            top: 12px;
            background-position: -96px -215px;
        }
        .opt_wx {
            width: 65px;
        }
        /*计数*/
        .header_cart_num {
            display: block;
            float: left;
            color: #fff;
            margin: 11px 0 0 5px;
        }
        .icon_wx {
            background-position: -120px -215px;
        }
        .opt_cart {
            width: auto;
            padding: 0 20px;
        }
        .icon_cart_small {
            float: left;
            background-position: -146px -215px;
            cursor: pointer;
        }
    }
    .icon_opt {
        display: block;
        width: 20px;
        height: 20px;
        margin: 12px auto;
    }
    .icon_user_main {
        float: left;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-position: -35px -216px;
        margin-left: 20px;
        *display: inline;
    }
    .user_login_name {
        display: block;
        float: left;
        margin-left: 2px;
        cursor: pointer;
        line-height: 44px;
        color: #fff;
    }
}

.header .icon_opt,
.footer .icon_arrow {
    background-image: url(../images/index_sprite.png);
    background-repeat: no-repeat;
}

.header .opt_wrap .opt_user_login_fail {
    width: 86px;
}

.wx_wrap {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 51;
    border-top: 0 none;
    top: 44px;
    left: auto;
    right: 86px;
    margin: 0;
    .wx_qrcode {
        display: block;
        border: 0;
    }
}