.header {
    background: #fff;
    height: 44px;
    background: #0092d8;
    position: relative;
    z-index: 50;
    .inner {
        width: 100%;
        overflow: hidden;
        *zoom: 1;
        margin: 0 auto;
        position: relative;
    }
    .site_logo {
        float: left;
        width: 120px;
        height: 44px;
        background-image: url(../images/index_service_sprite_v3.png);
        background-size: 200px 80px;
        background-position: -80px 0;
    }
    .nav_wrap {
        float: left;
    }
    .nav .item {
        float: left;
        & a:hover {
            color: white !important;
        }
    }
    .nav .item_tit {
        display: block;
        padding: 0 30px;
        font-family: \5FAE\8F6F\96C5\9ED1;
        height: 44px;
        line-height: 44px;
        color: #a3c3e6;
        font-size: 12px;
    }
    .opt_wrap {
        position: absolute;
        top: 0;
        right: 0;
        *right: auto;
        *float: right;
        *position: static;
        .opt_search {
            width: 45px;
        }
        .opt {
            float: left;
            position: relative;
            background: #fff;
            padding: 0;
            width: 75px;
            background: none;
            height: 44px;
            cursor: pointer;
        }
        .search_wrap {
            position: absolute;
            top: 0;
            right: 0;
            background: #fff;
            width: 75px;
            background: none;
            height: 44px;
            -webkit-transition: width .5s;
            -moz-transition: width .5s;
            -ms-transition: width .5s;
            -o-transition: width .5s;
            transition: width .5s;
            -webkit-user-select: none;
            form {
                display: none;
            }
            input {
                display: block;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                -ms-border-radius: 12px;
                font-family: \5b8b\4f53;
                width: 100%;
                height: 44px;
                height: 43px\9;
                *position: relative;
                *top: -1px;
                line-height: 44px;
                padding: 0 10px 0 35px;
                border: 0 none;
                border-bottom: 1px solid #e0e0e0;
                border-radius: 0;
            }
            .icon_opt {
                margin: 0;
                position: absolute;
                right: 30px;
                cursor: pointer;
            }
        }
        .icon_search {
            top: 12px;
            background-position: -96px -215px;
        }
        .opt_wx {
            width: 65px;
        }
        /*计数*/
        .header_cart_num {
            display: block;
            float: left;
            color: #fff;
            margin: 11px 0 0 5px;
        }
        .icon_wx {
            background-position: -120px -215px;
        }
        .opt_cart {
            width: auto;
            padding: 0 20px;
        }
        .icon_cart_small {
            float: left;
            background-position: -146px -215px;
            cursor: pointer;
        }
        &>div:hover {
            background-color: rgb(0, 111, 163);
        }
    }
    .icon_opt {
        display: block;
        width: 20px;
        height: 20px;
        margin: 12px auto;
    }
    .icon_user_main {
        float: left;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-position: -35px -216px;
        margin-left: 20px;
        *display: inline;
    }
    .user_login_name {
        display: block;
        float: left;
        margin-left: 2px;
        cursor: pointer;
        line-height: 44px;
        color: #fff;
    }
    .common_cart_wrap {
        width: 360px;
        text-align: center;
        position: absolute;
        right: 86px;
        border: 1px solid #e0e0e0;
        border-top: none;
        font-size: 12px;
        line-height: 12px;
        background-color: #fff;
        *zoom: 1;
        z-index: 51;
        display: none;
        .common_cart_login {
            padding: 30px 0;
            color: #a1a1a1;
            a {
                color: #269bdb;
            }
        }
    }
    .user_wrap {
        top: 44px;
        left: auto;
        right: 0;
    }
}

.header .icon_opt,
.footer .icon_arrow {
    background-image: url(../images/index_sprite.png);
    background-repeat: no-repeat;
}

.header .opt_wrap .opt_user_login_fail {
    width: 86px;
}

.wx_wrap {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 51;
    border-top: 0 none;
    top: 44px;
    left: auto;
    right: 86px;
    margin: 0;
    .wx_qrcode {
        display: block;
        border: 0;
    }
}

.user_wrap {
    display: none;
    width: 291px;
    background: #fff;
    position: absolute;
    top: 71px;
    left: 50%;
    margin-left: 302px;
    z-index: 51;
    border: 1px solid #d6d6d6;
    border-top: 0 none;
    .row {
        height: 48px;
        line-height: 48px;
        border-bottom: 1px solid #eeeeee;
        cursor: pointer;
        .icon_my_order {
            width: 12px;
            height: 12px;
            background-position: -284px -44px;
            margin: 0 10px 0 20px;
            position: relative;
            top: 2px;
        }
        .icon_my_coupon {
            width: 20px;
            height: 20px;
            background-position: -240px -80px;
            margin: 0 6px 0 16px;
            position: relative;
            top: 4px;
        }
        .icon_my_score {
            width: 12px;
            height: 14px;
            background-position: -284px -23px;
            margin: 0 10px 0 20px;
            position: relative;
            top: 2px;
        }
        .icon_my_privilege {
            width: 12px;
            height: 12px;
            background-position: -208px -85px;
            margin: 0 10px 0 20px;
            position: relative;
            top: 2px;
        }
        .icon_my_midea_product {
            width: 12px;
            height: 12px;
            background-position: -65px -24px;
            margin: 0 10px 0 20px;
            position: relative;
            top: 2px;
        }
        .icon_account {
            background-position: -235px -36px;
        }
        .icon {
            width: 12px;
            height: 12px;
            margin: 0 10px 0 20px;
            position: relative;
            top: 2px;
        }
        .fn {
            color: #333;
        }
         :hover {
            background-color: rgb(243, 243, 243);
        }
    }
    a {
        width: 100%;
        display: inline-block;
    }
}

.icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: url(../images/sprite.png) no-repeat;
}

.icon_atom {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 0;
    background: url(//img.mdcdn.cn/pc/img/common/atom_sprite.png?t=201804271445) no-repeat 10000px 10000px;
}

.service_wrap {
    border-bottom: 1px #ccc solid;
    .service {
        display: block;
        width: 1200px;
        height: 40px;
        margin: 0 auto;
    }
    .service_item {
        float: left;
        width: 20%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        .service_icon {
            background-image: url(//img.mdcdn.cn/pc/img/mall/index_service_sprite_v3.png?t=20190311);
            width: 40px;
            height: 40px;
            display: inline-block;
            background-size: 200px 80px;
            vertical-align: top;
        }
        .service_icon_2 {
            background-position: -40px 0;
        }
        .service_icon_3 {
            background-position: 0 -40px;
        }
        .service_icon_4 {
            background-position: -40px -40px;
        }
        .service_icon_5 {
            background-position: -80px -40px;
        }
    }
}


/*页面主体*/

.main_wrap {
    width: 1200px;
    margin: 0 auto;
    min-height: 533px;
}

.side_nav_wrap {
    height: 480px;
    position: relative;
    background: #fff;
}

.cat_menu_wrap {
    position: relative;
    z-index: 2;
    float: left;
    width: 220px;
    // background-color: aqua;
    // height: 480px;
}

.cat_list {
    // background-color: aqua;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #b9bec1;
    border-top: none;
    padding: 16px 0;
    *background: #41525b;
    background: #41525b \0;
    z-index: 2;
}

.cat_item:hover {
    background-color: rgb(36, 31, 30);
}

.cat_item_tit {
    position: relative;
    height: 56px;
    line-height: 56px;
    padding-left: 72px;
    color: #333;
    overflow: hidden;
    .ico_cat {
        position: absolute;
        left: 21px;
        top: 14px;
        width: 30px;
        height: 30px;
    }
    .ico_hot {
        vertical-align: -2px;
        margin-left: 2px;
    }
}

.cat_name {
    color: #ffffff;
}

.cat_des {
    margin-left: 10px;
    color: #f0f0f0;
    opacity: .5;
}

.ico_hot {
    vertical-align: -2px;
    margin-left: 2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -999em;
    background-position: -69px -188px;
}

.ico_hot {
    background-image: url(//img.mdcdn.cn/pc/img/mall/index_sprite.png?t=201701032);
    background-repeat: no-repeat;
}

.cat_item_tit .ico_cat {
    background-image: url(//img.mdcdn.cn/pc/img/mall/index_sprite.png?t=201701032);
    background-repeat: no-repeat;
}

.cat_item1 .ico_bg1 {
    background-position: 0 0;
}

.cat_item2 .ico_bg2 {
    background-position: -30px 0 !important;
}

.cat_item3 .ico_bg3 {
    background-position: -60px 0;
}

.cat_item4 .ico_bg4 {
    background-position: -90px 0;
}

.cat_item5 .ico_bg5 {
    background-position: -120px 0;
}

.cat_item6 .ico_bg6 {
    background-position: -150px 0;
}

.cat_item7 .ico_bg7 {
    background-position: -180px 0;
}

.cat_item8 .ico_bg8 {
    background-position: -210px 0;
}

.cat_menu_wrap {
    position: relative;
    .cat_right {
        display: none;
        top: 0;
        left: 220px;
        position: absolute;
        height: 480px;
        width: 661px;
        background-color: white;
        .cat_1 {
            float: left;
            height: 480px;
            .hotcat_list {
                padding: 24px 0px 0 16px;
                width: 220px;
                float: left;
                box-sizing: border-box;
                *width: 204px;
                max-height: 456px;
                overflow: hidden;
            }
            .hotcat_item {
                margin-bottom: 14px;
                .category_img {
                    width: 32px;
                    height: 32px;
                    margin-right: 16px;
                    vertical-align: middle;
                    *vertical-align: middle;
                }
            }
        }
        .cat_submenu_col1 {
            float: left;
            width: 220px;
            *width: 219px;
            height: 480px;
            box-sizing: border-box;
            overflow: hidden;
            border-left: 1px solid #f4f4f4;
            .goods_list {
                margin-top: -1px;
                .goods_item {
                    position: relative;
                }
            }
            .goods_item:first-child {
                border-top: 0;
            }
            .goods_item {
                float: left;
                border-top: #f4f4f4 solid 1px;
                *width: 220px;
                *height: 120px;
                box-sizing: border-box;
            }
            .goods_link {
                display: block;
                width: 220px;
                height: 120px;
                *width: 180px;
                padding: 20px 0;
                overflow: hidden;
                box-sizing: border-box;
            }
            .goods_img {
                margin-left: 12px;
                top: 0;
                width: 80px;
                height: 80px;
                float: left;
            }
            .goods_name {
                margin-top: 18px;
                display: block;
                padding: 0 9px;
                *padding-top: 16px;
                max-height: 34px;
                *max-height: 32px;
                line-height: 16px;
                overflow: hidden;
            }
            .price_wrap {
                display: block;
                padding: 0 9px;
                margin-top: 2px;
                .price_pro {
                    display: block;
                    color: #333;
                    height: 12px;
                    line-height: 12px;
                    em {
                        display: inline-block;
                        padding-right: 3px;
                    }
                }
            }
        }
    }
}

.tag_pro,
.tag_pro_yellow,
.tag_pro_ms {
    width: 28px;
    height: 12px;
    background-size: 100%;
    background-image: url(../images/pp.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.price_color {
    color: #ff6600;
}

.operate_wrap {
    width: 220px;
    float: left;
    font-size: 14px;
    border-left: 1px solid #f4f4f4;
    height: 480px;
    overflow: hidden;
    li:first-child {
        border-top: 0;
    }
    li {
        padding: 28px 50px;
        text-align: center;
        border-top: 1px solid #f4f4f4;
        height: 240px;
        *height: 185px;
        box-sizing: border-box;
        img {
            width: 120px;
            height: 120px;
        }
        .operate_name {
            margin-top: 22px;
        }
        .operate_tip {
            margin-top: 5px;
            font-size: 12px;
            color: #999999;
        }
    }
    li>a:hover .operate_tip {
        color: red !important;
    }
}

.cat_menu_wrap:hover .cat_right {
    display: block;
}


/*轮播图*/

.swiper-container {
    position: absolute !important;
    width: 1200px;
    height: 480px;
    top: 0;
    .swiper-wrapper .swiper-slide img {
        width: 1200px;
        height: 480px;
    }
}

.swiper-container .swiper-button-prev {
    // background-color: rgba(166, 152, 147, 0.5);
    left: 230px !important;
    color: white !important;
    font-size: 12px !important;
    display: none;
}

.swiper-container .swiper-button-next {
    display: none;
    color: white !important;
}